.create-category-container{
    width: 100vw;
    height: 100vh;
}

.create-category-container-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-category-container-input-bar{
    margin-top: 2rem;
}

.create-category-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 2rem;
}